In [1]:
import pandas as pd

In [11]:
path = '/Users/theavilla/Documents/github_repos/zoomcamp/homework/module-1/green_tripdata_2019-10.csv'

In [14]:
df = pd.read_csv(path)

/var/folders/tn/xcbhh5553dq0q02jnpmgv1rh0000gp/T/ipykernel_76285/3280352130.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [15]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [22]:
df[(df['lpep_pickup_datetime'] >= '2019-10-01') & (df['lpep_dropoff_datetime'] < '2019-11-01') & (df['trip_distance'] <= 1)]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.00,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.50,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.0
6,1.0,2019-10-01 00:28:09,2019-10-01 00:30:49,N,1.0,7,179,1.0,0.60,4.00,0.50,0.5,1.00,0.00,NaN,0.3,6.30,1.0,1.0,0.0
7,2.0,2019-10-01 00:28:26,2019-10-01 00:32:01,N,1.0,41,74,1.0,0.56,4.50,0.50,0.5,0.00,0.00,NaN,0.3,5.80,2.0,1.0,0.0
18,2.0,2019-10-01 00:30:36,2019-10-01 00:34:30,N,1.0,41,42,1.0,0.73,5.00,0.50,0.5,1.26,0.00,NaN,0.3,7.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476337,NaN,2019-10-31 22:25:00,2019-10-31 22:33:00,NaN,NaN,61,17,NaN,0.94,16.53,2.75,0.5,0.00,0.00,NaN,0.0,19.78,NaN,NaN,NaN
476347,NaN,2019-10-31 22:56:00,2019-10-31 23:06:00,NaN,NaN,168,168,NaN,0.94,14.35,2.75,0.5,0.00,0.00,NaN,0.0,17.60,NaN,NaN,NaN
476350,NaN,2019-10-31 22:47:00,2019-10-31 22:55:00,NaN,NaN,69,247,NaN,0.99,14.35,2.75,0.5,0.00,0.00,NaN,0.0,17.60,NaN,NaN,NaN
476367,NaN,2019-10-31 22:12:00,2019-10-31 22:17:00,NaN,NaN,247,42,NaN,0.86,18.05,2.75,0.5,0.00,0.00,NaN,0.0,21.30,NaN,NaN,NaN
476382,NaN,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,39.83,2.75,0.5,0.00,6.12,NaN,0.0,49.20,NaN,NaN,NaN

In [21]:
df[(df['lpep_pickup_datetime'] >= '2019-10-01') & (df['lpep_dropoff_datetime'] < '2019-11-01') & (df['trip_distance'] > 1) & (df['trip_distance'] <= 3)]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.00,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0
5,2.0,2019-10-01 00:35:01,2019-10-01 00:43:40,N,1.0,65,49,1.0,1.47,8.00,0.50,0.5,1.86,0.0,NaN,0.3,11.16,1.0,1.0,0.0
8,2.0,2019-10-01 00:14:01,2019-10-01 00:26:16,N,1.0,255,49,1.0,2.42,10.50,0.50,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0
13,2.0,2019-10-01 00:44:56,2019-10-01 00:51:06,N,5.0,18,169,1.0,1.19,10.00,0.00,0.0,0.25,0.0,NaN,0.0,10.25,1.0,2.0,0.0
14,2.0,2019-10-01 00:55:14,2019-10-01 01:00:49,N,1.0,223,7,1.0,1.09,6.00,0.50,0.5,1.46,0.0,NaN,0.3,8.76,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476346,NaN,2019-10-31 22:09:00,2019-10-31 22:20:00,NaN,NaN,188,35,NaN,1.35,23.63,2.75,0.5,0.00,0.0,NaN,0.0,26.88,NaN,NaN,NaN
476353,NaN,2019-10-31 22:02:00,2019-10-31 22:13:00,NaN,NaN,95,56,NaN,1.63,18.86,2.75,0.5,0.00,0.0,NaN,0.0,22.11,NaN,NaN,NaN
476359,NaN,2019-10-31 22:44:00,2019-10-31 22:51:00,NaN,NaN,129,129,NaN,1.26,15.69,2.75,0.5,0.00,0.0,NaN,0.0,18.94,NaN,NaN,NaN
476360,NaN,2019-10-31 22:28:00,2019-10-31 22:36:00,NaN,NaN,7,7,NaN,1.58,16.63,2.75,0.5,0.00,0.0,NaN,0.0,19.88,NaN,NaN,NaN
476377,NaN,2019-10-31 23:15:00,2019-10-31 23:20:00,NaN,NaN,235,235,NaN,1.13,17.39,2.75,0.5,0.00,0.0,NaN,0.0,20.64,NaN,NaN,NaN

In [26]:
df.sort_values(by='trip_distance')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
446029,NaN,2019-10-23 00:11:00,2019-10-23 00:27:00,NaN,NaN,146,42,NaN,-6.93,25.20,2.75,0.0,0.00,6.12,NaN,0.0,34.07,NaN,NaN,NaN
446032,NaN,2019-10-23 00:26:00,2019-10-23 00:30:00,NaN,NaN,31,20,NaN,-0.63,12.25,2.75,0.0,0.00,0.00,NaN,0.0,15.00,NaN,NaN,NaN
283179,1.0,2019-10-23 13:00:20,2019-10-23 13:40:51,N,1.0,35,14,1.0,0.00,40.20,0.00,0.5,0.00,0.00,NaN,0.3,41.00,1.0,1.0,0.00
169490,2.0,2019-10-14 04:30:29,2019-10-14 04:32:12,N,5.0,133,133,4.0,0.00,25.00,0.00,0.0,0.00,0.00,NaN,0.0,25.00,1.0,2.0,0.00
169508,2.0,2019-10-14 04:19:00,2019-10-14 04:19:03,N,5.0,53,53,1.0,0.00,30.00,0.00,0.0,0.00,0.00,NaN,0.0,30.00,1.0,2.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62935,2.0,2019-10-05 16:42:04,2019-10-05 18:51:30,N,5.0,33,265,4.0,85.23,200.00,0.00,0.0,0.00,0.00,NaN,0.0,202.75,2.0,2.0,2.75
293111,2.0,2019-10-24 10:59:58,2019-10-24 13:11:58,N,1.0,14,265,1.0,90.75,238.00,0.00,0.5,0.00,0.00,NaN,0.3,238.80,1.0,1.0,0.00
317407,2.0,2019-10-26 03:02:39,2019-10-26 07:44:59,N,5.0,36,265,1.0,91.56,250.00,0.00,0.0,81.82,22.74,NaN,0.0,354.56,1.0,2.0,0.00
141174,2.0,2019-10-11 20:34:21,2019-10-11 22:40:41,N,4.0,126,265,5.0,95.78,473.00,0.50,0.5,0.00,10.50,NaN,0.3,484.80,2.0,1.0,0.00
386795,2.0,2019-10-31 23:23:41,2019-11-01 13:01:07,N,5.0,129,265,1.0,515.89,100.00,2.75,0.0,0.00,0.00,NaN,0.3,103.05,2.0,1.0,0.00

In [34]:
date_filtered_df = df[(df['lpep_pickup_datetime'] >= '2019-10-18') & (df['lpep_pickup_datetime'] < '2019-10-19')]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
216483,2.0,2019-10-18 23:35:11,2019-10-19 00:09:42,N,1.0,247,48,1.0,6.34,21.00,0.50,0.5,0.00,0.00,NaN,0.3,22.30,2.0,1.0,0.0
216611,2.0,2019-10-18 00:00:40,2019-10-18 00:04:41,N,1.0,145,112,5.0,0.84,5.50,0.50,0.5,1.36,0.00,NaN,0.3,8.16,1.0,1.0,0.0
216664,2.0,2019-10-18 00:00:10,2019-10-18 00:13:16,N,1.0,95,215,1.0,3.38,13.00,0.50,0.5,0.00,0.00,NaN,0.3,14.30,2.0,1.0,0.0
216864,2.0,2019-10-18 00:01:17,2019-10-18 00:09:42,N,1.0,82,82,1.0,1.67,8.00,0.50,0.5,0.00,0.00,NaN,0.3,9.30,2.0,1.0,0.0
216930,2.0,2019-10-18 22:58:52,2019-10-19 00:07:30,N,1.0,74,116,1.0,7.69,31.50,0.50,0.5,6.56,0.00,NaN,0.3,39.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434209,NaN,2019-10-18 23:20:00,2019-10-19 00:00:00,NaN,NaN,129,211,NaN,8.29,26.28,5.50,0.5,0.00,6.12,NaN,0.0,38.40,NaN,NaN,NaN
434210,NaN,2019-10-18 23:39:00,2019-10-19 00:12:00,NaN,NaN,180,193,NaN,10.29,32.53,0.00,0.5,0.00,0.00,NaN,0.0,33.03,NaN,NaN,NaN
434211,NaN,2019-10-18 23:59:00,2019-10-19 00:17:00,NaN,NaN,47,127,NaN,3.71,22.25,2.75,0.5,0.00,0.00,NaN,0.0,25.50,NaN,NaN,NaN
434212,NaN,2019-10-18 23:03:00,2019-10-18 23:15:00,NaN,NaN,169,18,NaN,2.32,17.39,2.75,0.5,0.00,0.00,NaN,0.0,20.64,NaN,NaN,NaN
434213,NaN,2019-10-18 23:20:00,2019-10-19 00:13:00,NaN,NaN,62,74,NaN,18.57,40.63,2.75,0.5,0.00,6.12,NaN,0.0,50.00,NaN,NaN,NaN