In [1]:
import pandas as pd

In [11]:
path = '/Users/theavilla/Documents/github_repos/zoomcamp/homework/module-1/green_tripdata_2019-10.csv'

In [14]:
df = pd.read_csv(path)

/var/folders/tn/xcbhh5553dq0q02jnpmgv1rh0000gp/T/ipykernel_76285/3280352130.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [15]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

# QUESTION 3

In [22]:
df[(df['lpep_pickup_datetime'] >= '2019-10-01') & (df['lpep_dropoff_datetime'] < '2019-11-01') & (df['trip_distance'] <= 1)]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.00,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.50,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.0
6,1.0,2019-10-01 00:28:09,2019-10-01 00:30:49,N,1.0,7,179,1.0,0.60,4.00,0.50,0.5,1.00,0.00,NaN,0.3,6.30,1.0,1.0,0.0
7,2.0,2019-10-01 00:28:26,2019-10-01 00:32:01,N,1.0,41,74,1.0,0.56,4.50,0.50,0.5,0.00,0.00,NaN,0.3,5.80,2.0,1.0,0.0
18,2.0,2019-10-01 00:30:36,2019-10-01 00:34:30,N,1.0,41,42,1.0,0.73,5.00,0.50,0.5,1.26,0.00,NaN,0.3,7.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476337,NaN,2019-10-31 22:25:00,2019-10-31 22:33:00,NaN,NaN,61,17,NaN,0.94,16.53,2.75,0.5,0.00,0.00,NaN,0.0,19.78,NaN,NaN,NaN
476347,NaN,2019-10-31 22:56:00,2019-10-31 23:06:00,NaN,NaN,168,168,NaN,0.94,14.35,2.75,0.5,0.00,0.00,NaN,0.0,17.60,NaN,NaN,NaN
476350,NaN,2019-10-31 22:47:00,2019-10-31 22:55:00,NaN,NaN,69,247,NaN,0.99,14.35,2.75,0.5,0.00,0.00,NaN,0.0,17.60,NaN,NaN,NaN
476367,NaN,2019-10-31 22:12:00,2019-10-31 22:17:00,NaN,NaN,247,42,NaN,0.86,18.05,2.75,0.5,0.00,0.00,NaN,0.0,21.30,NaN,NaN,NaN
476382,NaN,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,39.83,2.75,0.5,0.00,6.12,NaN,0.0,49.20,NaN,NaN,NaN

In [21]:
df[(df['lpep_pickup_datetime'] >= '2019-10-01') & (df['lpep_dropoff_datetime'] < '2019-11-01') & (df['trip_distance'] > 1) & (df['trip_distance'] <= 3)]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.00,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0
5,2.0,2019-10-01 00:35:01,2019-10-01 00:43:40,N,1.0,65,49,1.0,1.47,8.00,0.50,0.5,1.86,0.0,NaN,0.3,11.16,1.0,1.0,0.0
8,2.0,2019-10-01 00:14:01,2019-10-01 00:26:16,N,1.0,255,49,1.0,2.42,10.50,0.50,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0
13,2.0,2019-10-01 00:44:56,2019-10-01 00:51:06,N,5.0,18,169,1.0,1.19,10.00,0.00,0.0,0.25,0.0,NaN,0.0,10.25,1.0,2.0,0.0
14,2.0,2019-10-01 00:55:14,2019-10-01 01:00:49,N,1.0,223,7,1.0,1.09,6.00,0.50,0.5,1.46,0.0,NaN,0.3,8.76,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476346,NaN,2019-10-31 22:09:00,2019-10-31 22:20:00,NaN,NaN,188,35,NaN,1.35,23.63,2.75,0.5,0.00,0.0,NaN,0.0,26.88,NaN,NaN,NaN
476353,NaN,2019-10-31 22:02:00,2019-10-31 22:13:00,NaN,NaN,95,56,NaN,1.63,18.86,2.75,0.5,0.00,0.0,NaN,0.0,22.11,NaN,NaN,NaN
476359,NaN,2019-10-31 22:44:00,2019-10-31 22:51:00,NaN,NaN,129,129,NaN,1.26,15.69,2.75,0.5,0.00,0.0,NaN,0.0,18.94,NaN,NaN,NaN
476360,NaN,2019-10-31 22:28:00,2019-10-31 22:36:00,NaN,NaN,7,7,NaN,1.58,16.63,2.75,0.5,0.00,0.0,NaN,0.0,19.88,NaN,NaN,NaN
476377,NaN,2019-10-31 23:15:00,2019-10-31 23:20:00,NaN,NaN,235,235,NaN,1.13,17.39,2.75,0.5,0.00,0.0,NaN,0.0,20.64,NaN,NaN,NaN

# QUESTION 4

In [26]:
df.sort_values(by='trip_distance')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
446029,NaN,2019-10-23 00:11:00,2019-10-23 00:27:00,NaN,NaN,146,42,NaN,-6.93,25.20,2.75,0.0,0.00,6.12,NaN,0.0,34.07,NaN,NaN,NaN
446032,NaN,2019-10-23 00:26:00,2019-10-23 00:30:00,NaN,NaN,31,20,NaN,-0.63,12.25,2.75,0.0,0.00,0.00,NaN,0.0,15.00,NaN,NaN,NaN
283179,1.0,2019-10-23 13:00:20,2019-10-23 13:40:51,N,1.0,35,14,1.0,0.00,40.20,0.00,0.5,0.00,0.00,NaN,0.3,41.00,1.0,1.0,0.00
169490,2.0,2019-10-14 04:30:29,2019-10-14 04:32:12,N,5.0,133,133,4.0,0.00,25.00,0.00,0.0,0.00,0.00,NaN,0.0,25.00,1.0,2.0,0.00
169508,2.0,2019-10-14 04:19:00,2019-10-14 04:19:03,N,5.0,53,53,1.0,0.00,30.00,0.00,0.0,0.00,0.00,NaN,0.0,30.00,1.0,2.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62935,2.0,2019-10-05 16:42:04,2019-10-05 18:51:30,N,5.0,33,265,4.0,85.23,200.00,0.00,0.0,0.00,0.00,NaN,0.0,202.75,2.0,2.0,2.75
293111,2.0,2019-10-24 10:59:58,2019-10-24 13:11:58,N,1.0,14,265,1.0,90.75,238.00,0.00,0.5,0.00,0.00,NaN,0.3,238.80,1.0,1.0,0.00
317407,2.0,2019-10-26 03:02:39,2019-10-26 07:44:59,N,5.0,36,265,1.0,91.56,250.00,0.00,0.0,81.82,22.74,NaN,0.0,354.56,1.0,2.0,0.00
141174,2.0,2019-10-11 20:34:21,2019-10-11 22:40:41,N,4.0,126,265,5.0,95.78,473.00,0.50,0.5,0.00,10.50,NaN,0.3,484.80,2.0,1.0,0.00
386795,2.0,2019-10-31 23:23:41,2019-11-01 13:01:07,N,5.0,129,265,1.0,515.89,100.00,2.75,0.0,0.00,0.00,NaN,0.3,103.05,2.0,1.0,0.00

# QUESTION 5

In [53]:
date_filtered_df = df[(df['lpep_pickup_datetime'] >= '2019-10-18') & (df['lpep_pickup_datetime'] < '2019-10-19')]

In [44]:
output_df = date_filtered_df.groupby(by='PULocationID').sum()

In [45]:
output_df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
PULocationID,,,,,,,,,,,,,,,,,,,
3,21.0,2019-10-18 08:47:042019-10-18 08:12:552019-10-...,2019-10-18 08:51:202019-10-18 08:36:202019-10-...,NNNNNNNNNNN,11.0,4535,18.0,186.01,742.62,60.25,15.5,0.00,40.38,0.0,3.3,862.05,11.0,11.0,0.00
4,0.0,2019-10-18 12:27:002019-10-18 17:32:002019-10-...,2019-10-18 13:12:002019-10-18 18:36:002019-10-...,0,0.0,330,0.0,37.66,112.25,11.00,1.5,0.00,0.00,0.0,0.9,125.65,0.0,0.0,0.00
7,1302.0,2019-10-18 00:25:102019-10-18 00:34:582019-10-...,2019-10-18 00:26:542019-10-18 00:45:092019-10-...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,695.0,91264,997.0,1565.73,7487.30,402.25,346.0,580.31,61.20,0.0,201.6,9190.86,1095.0,682.0,96.25
9,12.0,2019-10-18 02:30:252019-10-18 02:30:252019-10-...,2019-10-18 02:30:382019-10-18 02:30:382019-10-...,NNNNNN,14.0,1302,7.0,55.71,297.65,22.00,6.0,0.00,0.00,0.0,1.2,326.85,10.0,8.0,0.00
10,14.0,2019-10-18 05:13:342019-10-18 06:43:312019-10-...,2019-10-18 05:13:452019-10-18 08:04:152019-10-...,NNNNNNN,7.0,2583,7.0,167.20,673.68,31.75,9.5,0.00,14.17,0.0,2.1,731.20,9.0,7.0,0.00

In [51]:
output_df[output_df['total_amount'] > 13000].sort_values(by='total_amount')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
PULocationID,,,,,,,,,,,,,,,,,,,
166,1362.0,2019-10-18 00:30:512019-10-18 00:52:322019-10-...,2019-10-18 00:39:352019-10-18 01:33:062019-10-...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,771.0,111192,902.0,1862.18,9150.14,457.00,376.0,1221.09,1079.06,0.0,221.7,13029.79,1045.0,760.0,638.0
75,1941.0,2019-10-18 00:40:322019-10-18 00:25:242019-10-...,2019-10-18 00:57:472019-10-18 00:27:122019-10-...,NNNNYNNNNNNYNNNNNYNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,1099.0,144870,1364.0,2777.72,12866.81,679.75,542.0,1325.55,261.45,0.0,313.2,16797.26,1521.0,1068.0,968.0
74,2231.0,2019-10-18 22:58:522019-10-18 00:26:112019-10-...,2019-10-19 00:07:302019-10-18 00:38:492019-10-...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,1280.0,158328,1586.0,3029.32,14587.04,639.75,608.0,1556.40,277.09,0.0,355.8,18686.68,1759.0,1222.0,797.0

# QUESTION 6

In [57]:
filtered = df[(df['lpep_pickup_datetime'] >= '2019-10-01') & (df['lpep_dropoff_datetime'] < '2019-11-01') & (df['PULocationID'] == 74)]
filtered

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
49,2.0,2019-10-01 00:42:36,2019-10-01 00:43:02,N,1.0,74,74,1.0,0.00,2.50,0.50,0.5,35.0,0.00,NaN,0.3,38.80,1.0,1.0,0.00
54,2.0,2019-10-01 00:04:16,2019-10-01 00:09:30,N,1.0,74,168,1.0,1.31,6.50,0.50,0.5,0.0,0.00,NaN,0.3,7.80,1.0,1.0,0.00
63,2.0,2019-10-01 00:27:18,2019-10-01 00:34:21,N,1.0,74,168,2.0,1.25,7.50,0.50,0.5,0.0,0.00,NaN,0.3,8.80,2.0,1.0,0.00
70,2.0,2019-10-01 00:31:22,2019-10-01 00:34:06,N,1.0,74,75,1.0,0.83,4.50,0.50,0.5,0.0,0.00,NaN,0.3,5.80,2.0,1.0,0.00
73,2.0,2019-10-01 00:35:35,2019-10-01 00:51:17,N,1.0,74,239,1.0,3.06,12.50,0.50,0.5,0.0,0.00,NaN,0.3,16.55,2.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475898,NaN,2019-10-31 17:07:00,2019-10-31 18:15:00,NaN,NaN,74,71,NaN,15.20,42.12,2.75,0.5,0.0,6.12,NaN,0.0,51.49,NaN,NaN,NaN
476027,NaN,2019-10-31 18:14:00,2019-10-31 18:21:00,NaN,NaN,74,74,NaN,0.06,17.49,2.75,0.5,0.0,0.00,NaN,0.0,20.74,NaN,NaN,NaN
476075,NaN,2019-10-31 18:36:00,2019-10-31 18:55:00,NaN,NaN,74,116,NaN,3.64,17.49,2.75,0.5,0.0,0.00,NaN,0.0,20.74,NaN,NaN,NaN
476108,NaN,2019-10-31 18:24:00,2019-10-31 18:55:00,NaN,NaN,74,78,NaN,5.13,24.61,2.75,0.5,0.0,0.00,NaN,0.0,27.86,NaN,NaN,NaN
476340,NaN,2019-10-31 22:08:00,2019-10-31 22:43:00,NaN,NaN,74,39,NaN,21.20,36.73,2.75,0.5,0.0,6.12,NaN,0.0,46.10,NaN,NaN,NaN

In [60]:
filtered.sort_values(by='tip_amount')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
180382,2.0,2019-10-15 09:50:19,2019-10-15 09:54:04,N,1.0,74,75,1.0,0.78,-4.50,0.00,-0.5,-1.06,0.00,NaN,-0.3,-6.36,3.0,1.0,0.00
476340,NaN,2019-10-31 22:08:00,2019-10-31 22:43:00,NaN,NaN,74,39,NaN,21.20,36.73,2.75,0.5,0.00,6.12,NaN,0.0,46.10,NaN,NaN,NaN
140173,1.0,2019-10-11 19:14:28,2019-10-11 19:35:32,N,1.0,74,232,1.0,6.80,21.00,3.75,0.5,0.00,0.00,NaN,0.3,25.55,2.0,1.0,2.75
270458,2.0,2019-10-22 11:46:33,2019-10-22 12:18:39,N,1.0,74,143,1.0,4.70,22.00,0.00,0.5,0.00,0.00,NaN,0.3,22.80,1.0,1.0,0.00
270481,2.0,2019-10-22 11:01:36,2019-10-22 11:24:35,N,1.0,74,237,1.0,2.63,15.50,0.00,0.5,0.00,0.00,NaN,0.3,19.05,2.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251261,2.0,2019-10-20 15:14:27,2019-10-20 16:18:12,N,3.0,74,1,1.0,26.61,93.00,0.00,0.0,26.45,12.50,NaN,0.3,132.25,1.0,1.0,0.00
49,2.0,2019-10-01 00:42:36,2019-10-01 00:43:02,N,1.0,74,74,1.0,0.00,2.50,0.50,0.5,35.00,0.00,NaN,0.3,38.80,1.0,1.0,0.00
296026,2.0,2019-10-24 14:35:52,2019-10-24 14:36:32,N,1.0,74,74,1.0,0.02,2.50,0.00,0.5,40.00,0.00,NaN,0.3,43.30,1.0,1.0,0.00
340287,2.0,2019-10-28 06:05:56,2019-10-28 06:09:47,N,1.0,74,263,1.0,1.45,6.00,0.00,0.5,80.88,0.00,NaN,0.3,90.43,1.0,1.0,2.75
308891,2.0,2019-10-25 15:50:05,2019-10-25 16:50:07,N,2.0,74,132,4.0,17.01,52.00,0.00,0.5,87.30,6.12,NaN,0.3,146.22,1.0,1.0,0.00